/**
 * Select2 Classes
 * ----------------------------------------------------------------------------
 */
table.wp-list-table tbody td.genesis-body-class .cacie-editable,
table.wp-list-table tbody td.genesis-post-class .cacie-editable {
	display: inline;
}

table.wp-list-table tbody td.genesis-body-class code,
table.wp-list-table tbody td.genesis-post-class code {
	display: inline-block;
	margin-bottom: 5px;
}

/**
 * Genesis Layout
 * ----------------------------------------------------------------------------
 */
table.wp-list-table tbody td.genesis-layout .inner {
	vertical-align: top;
}

table.wp-list-table tbody td.genesis-layout img {
	width: 75px;
	max-width: 100%;
	height: auto;
}

/* Editable */
table.wp-list-table tbody.cacie-enabled td.cacie-editable-genesis_layout .editable-input {
	overflow-y: scroll;
	max-height: 225px;
	width: 275px;
}

table.wp-list-table tbody.cacie-enabled td.cacie-editable-genesis_layout .editable-input label.default {
	display: block;
	width: auto;
	margin-bottom: 10px;
}

table.wp-list-table tbody.cacie-enabled td.cacie-editable-genesis_layout .editable-input label.img {
	display: inline-block;
	width: auto;
	margin: 0;
}

table.wp-list-table tbody.cacie-enabled td.cacie-editable-genesis_layout .editable-input input {
	vertical-align: text-bottom;
}

table.wp-list-table tbody.cacie-enabled td.cacie-editable-genesis_layout .editable-input .img input {
	display: none;
}

table.wp-list-table tbody.cacie-enabled td.cacie-editable-genesis_layout .editable-input .img input + img {
	width: 75px;
	margin-right: 3px;
	border: 3px solid transparent;
}

table.wp-list-table tbody.cacie-enabled td.cacie-editable-genesis_layout .editable-input .img input:checked + img {
	border-color: #ccc;
}

table.wp-list-table tbody.cacie-enabled td.cacie-editable-genesis_layout .editable-buttons {
	text-align: right;
	display: block;
	margin: 10px 0 0 0;
}